.sb-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sb-pad-btn {
    display: absolute;
    height: 50px;
    width: 50px;
    
    margin: 8px 5px;
}

.sb-pad-label {
    /* position: relative; */
    padding-bottom: 50px;
    font-size: 14px;
    color: white;
    font-weight: 500;
}